body {
    /* margin: -300px auto; */
    background-image: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: black;
}

.box {
    /* position: absolute;     */
    display: inline-block;
    margin: 10px 5px;
}
#section_soldiers {
    position: absolute;
    margin: 23% auto;
}
#section_flovers {
    position: absolute;
    margin: 30% 2% 2% 2%;
}

